'atom-workspace':
  'alt-p': 'project-neue:toggle'
  'alt-tab': 'project-neue:last'
  'cmd-k cmd-backspace': 'project-neue:cleanup'

'.project-neue input':
  'enter': 'core:confirm'

'.project-neue atom-text-editor[mini]':
  'shift-enter': 'project-neue:alt-confirm'
  'shift-backspace': 'project-neue:remove'
